[2020-01-17 15:13] yalwan-iqvia opened #1 "Implement LGBM_BoosterSaveModelToString"
Documentation here: https://lightgbm.readthedocs.io/en/latest/C-API.html#c.LGBM_BoosterSaveModelToString

https://github.com/IQVIA-ML/LightGBM.jl/blob/b5293367b451b9a8fcd78d055890a384bc8c2485/src/wrapper.jl#L505

Why? Currently a booster is passed around as a PTR to memory, which isn't great and is a massive vom for distributed computing of any form, so it should probably be serialised and deseria

[2020-01-17 15:21] yalwan-iqvia opened #5 "Implement LGBM_BoosterUpdateOneIterCustom"
https://github.com/IQVIA-ML/LightGBM.jl/blob/b5293367b451b9a8fcd78d055890a384bc8c2485/src/wrapper.jl#L356

We need  `LGBM_BoosterUpdateOneIterCustom` if we wish to support custom objectives.

https://lightgbm.readthedocs.io/en/latest/C-API.html#c.LGBM_BoosterUpdateOneIterCustom

[2020-01-17 15:24] yalwan-iqvia opened #6 "Check the output reporting"
https://github.com/IQVIA-ML/LightGBM.jl/blob/b5293367b451b9a8fcd78d055890a384bc8c2485/src/fit.jl#L93-L152

In my trials with MLJ integration the output report always looked empty -- figure out whats going on here

[2020-01-17 15:28] yalwan-iqvia opened #7 "Implement LGBM_BoosterRefit"
Another missed FFI method `LGBM_BoosterRefit`

https://lightgbm.readthedocs.io/en/latest/C-API.html#c.LGBM_BoosterRefit

LightGBM Supports it, MLJ likes to know about methods supporting it, this would be the first pre-requisite to supporting it in MLJ

[2020-02-05 11:13] yalwan-iqvia opened #13 "Tidy up README.md"
Examples of things which aren't quite right any more

- The pkg add command
- Having to have a binary and set the LIGHTGBM_PATH environment variable (should note that the package builder downloads the Microsoft precompiled binary)
- Running tests - note the need to have the LightGBM examples downloaded and set the LIGHTGBM_EXAMPLES_PATH environment variable
- moar?

[2020-02-07 12:23] yalwan-iqvia opened #14 "Produce example for LightGBM with Julia usage"
@vollmersj can you write up some brief hints or examples from MLJ I can use?

[2020-02-18 10:38] tlienart opened #19 "Path to LightGBM bin"
this line

[code]

is incorrect right? it should use `ENV`?

[2020-02-18 13:54] tlienart opened #21 "Path error in tests?"
Ok after writing too soon that there were issues with tests, here is the actual stacktrace; initial tests pass but then there's an error with EXAMPLES:

[code]

[2020-02-19 09:55] yalwan-iqvia opened #23 "consider how we can bring more lightgbm parameters"
https://lightgbm.readthedocs.io/en/latest/Parameters.html

[2020-03-17 09:54] yalwan-iqvia commented on #13
@tlienart I'm closing this, I think all is ok now right?

[2020-03-17 09:54] #13 closed

[2020-03-17 09:55] #19 closed

[2020-03-22 21:45] ablaom opened #24 "lib_lightgbm.dylib library missing"
[code]

[code]

[code]

[2020-03-22 21:45] ablaom commented on #24
BTW Doing `Pkg.build("LightGBM")` is of no help.

[2020-03-22 21:50] ablaom opened #25 "Bump [compat] MLJModelInterface = "^0.1,^0.2""

[2020-03-23 08:15] yalwan-iqvia commented on #24
@ablaom can you run `ls /Users/anthony/.julia/packages/LightGBM/tA9ec/src/lib_lightgbm.dylib`

 I believe the file is there but if I am correct you did not install libomp -- the MacOS linker is a bit kaka, in that if it cannot load a shared library because one of its load requirements is missing, it gives this "image not found" error, which would lead one into thinking that the file is not there w

[2020-03-23 08:17] yalwan-iqvia commented on #25
https://github.com/IQVIA-ML/LightGBM.jl/pull/26

[2020-03-23 08:38] yalwan-iqvia commented on #24
In order to fix you should do `brew install libomp`

[2020-03-23 13:05] #25 closed

[2020-03-24 23:59] ablaom commented on #24
Thanks for that. I see that this workaround is actually documented; sorry I missed that.

However, after successfully installing `libomp` the issue persists on my machine:

[code]

[2020-03-25 00:06] ablaom commented on #24
Again rebuilding had no effect. Here is the updated project details:

[code]

[2020-03-25 07:55] yalwan-iqvia commented on #24
[code]

But the binary is tring to load a different path ...

[code]

can you show me if the contents of `/usr/local/opt/libomp/lib` exists, indeed if that folder even exists? I'm curious why it wants that location rather than the one `brew list` shows; in addition, `/usr/local/homebrew/Cellar` is a suspicious looking place for shared libraries to be placed -- can you show the contents of that pat

[2020-03-25 20:41] ablaom commented on #24
I have no `/usr/local/opt/`:
[code]

[code]

Not set:

[code]

[2020-03-26 07:55] yalwan-iqvia commented on #24
I'm reasonably sure if you set `DYLD_FALLBACK_LIBRARY_PATH` to `/usr/local/homebrew/Cellar/libomp/9.0.1/lib/` it would work, but
a) that doesn't seem right
b) I would expect there to be a symlink to the dylib sitting in a more standard location, which leaves me wondering why it specifically wanted to look in /usr/local/opt/

Can you do something like `find /usr -type d | grep dylib$ | grep -i libo

[2020-03-26 07:57] yalwan-iqvia commented on #24
Also please show me the output from `otool -L /Users/anthony/.julia/packages/LightGBM/J9fua/src/lib_lightgbm.dylib`

[2020-03-26 21:11] ablaom commented on #24
MacOS version = 10.14.4

[code]

[2020-03-26 21:14] ablaom commented on #24
setting the env variable does not appear to work:

[code]

[2020-03-26 21:51] vollmersj commented on #24
Below does work for me out of the box
[code]
Output is
[ Info: Precompiling LightGBM [7acf609c-83a4-11e9-1ffb-b912bcd3b04a]
[ Info: Precompiling MLJModelInterface [e80e1ace-859a-464e-9ed9-23947d8ae3ea]
[ Info: Precompiling MLJBase [a7f614a8-145f-11e9-1d2a-a57a1082229d]
[LightGBM] [Info] Total Bins 1249
[LightGBM] [Info] Number of data: 506, number of used features: 12
[LightGBM] [Info] Start train

[2020-03-27 08:31] yalwan-iqvia commented on #24
Strange, the find command didn't find the homebrew cellar location either, this looks fishy...

[2020-03-27 08:38] yalwan-iqvia commented on #24
Oh that's my mistake I wrote `find /usr -type d | grep dylib$ | grep -i libomp` rather than
`find /usr -type f | grep dylib$ | grep -i libomp`

[2020-03-29 19:55] ablaom commented on #24
[code]

[2020-03-29 21:20] ablaom opened #27 "Automate the selection of num_class in classifiers for MLJ implementation"
An MLJ user will not expect this error:

[code]

Because of MLJ's insistence on categorical arrays for categorical data, you have the information you need to automatically determine `num_class` from the target `y` (even when not all classes are "observed" in `y`). Given any element `e` of `y` (say `e = y[1]`) this is given by `MLJModelInterface.classes(e) |> length` or you can also use `length(lev

[2020-03-29 21:29] ablaom commented on #27
Also, why do you need a separate Binary model? You can dispatch the appropriate classifier based on the number of classes you find in the data because the data always knows *all* the classes.

Again, see how this is handled in the [XGBoost wrap](https://github.com/alan-turing-institute/MLJModels.jl/blob/6de5f22db53fd149faa7bc29315c1c0a94c78821/src/XGBoost.jl#L588) where a single classification mod

[2020-03-30 21:58] ablaom opened #28 "extend [compat] StatsBase = "^0.32,^0.33""

[2020-03-31 07:40] yalwan-iqvia commented on #27
I take the point on binary vs multiclass, however right now its a bit of a tangle and its related to objective pinning, which needs to get sorted as part of enabling the user to select their optimisation objective. So, for now, I'd rather leave it as is. However a num_classes fix is coming up

[2020-03-31 07:55] yalwan-iqvia opened #29 "User selected objectives"
Currently, the user objective is selected by virtue of which estimator one picks.

In reality, each estimator can select multiple objectives, and the distinction between some estimators may be unnecessary.

Refactor the code so that there is just classification and regression, and the user can select their own objective.

[2020-03-31 07:57] yalwan-iqvia opened #30 "User selected objectives"
Currently, the user objective is selected by virtue of which estimator one picks.

In reality, each estimator can select multiple objectives, and the distinction between some estimators may be unnecessary.

Refactor the code so that there is just classification and regression, and the user can select their own objective.

[2020-03-31 07:57] yalwan-iqvia commented on #30
Duplicate submission

[2020-03-31 07:57] #30 closed

[2020-03-31 07:58] yalwan-iqvia commented on #21
Current readme addresses this

[2020-03-31 07:58] #21 closed

[2020-03-31 08:00] yalwan-iqvia commented on #24
Summary of out of band communications:

For reasons I cannot yet determine, the linker doesn't find libomp
The python lib_lightgbm.so (why .so?) works fine with python
If we copy this to the julia package directory and rename the extension to .dylib, all works as expected. This is also unclear why. The binaries were length-identical (but we were unable to verify if bit-identical because md5sum was

[2020-03-31 08:05] yalwan-iqvia commented on #28
https://github.com/IQVIA-ML/LightGBM.jl/pull/31

[2020-03-31 08:06] yalwan-iqvia commented on #27
https://github.com/IQVIA-ML/LightGBM.jl/pull/31, partially, and #30 for the remainder

[2020-03-31 20:40] ablaom commented on #27
I think this needs to be sorted before registration, and I'd rather do my testing after these issues are resolved (especially, as I have to hack the installation each time).  I don't think it is acceptable to provide a model (Binary) and then later take it away.

The objective function choice is tied to the scitype of the target, ie on the particular model, in the MLJ implementation. I do think yo

[2020-04-01 06:53] yalwan-iqvia commented on #27
The fundamental issue is that the underlying estimator objects MLJ interface is using have fixed their objectives, so theres no way to pass it through currently. And while taking the time to deal with this one might as well remove the binary/multiclass distinction from the codebase entirely and allow user to specify their own objectives. This just represents a larger piece of work.

[2020-04-02 21:06] ablaom commented on #27
Right. So you understand our requirements, agree they are reasonable, but to implement them will take some work?

[2020-04-03 06:34] yalwan-iqvia commented on #27
Yep, but I've already started and actually think I can push something out later today

[2020-04-03 12:22] yalwan-iqvia commented on #29
#31 addresses

[2020-04-05 23:16] ablaom commented on #24
I'm having trouble reproducing this fix.

So, the following works:

[code]

However, running the following script reproduces the same error reported above:

[code]

Here is is:

[code]

You will recall that on my machine, `/usr/local/opt/libomp/lib/libomp.dylib` does not exist.

[2020-04-06 06:44] yalwan-iqvia commented on #24
Did you leave the `export DYLD_LIBRARY_PATH` command in your bashrc? I recall thinking afterwards that this working might have been to do with the presence of this env var but we didn't get to verify

[2020-04-06 06:45] yalwan-iqvia commented on #24
Did you leave the `export DYLD_LIBRARY_PATH` command in your bashrc? I recall thinking afterwards that this working might have been to do with the presence of this env var but we didn't get to verify

[2020-04-06 06:46] yalwan-iqvia commented on #24
Also, can you verify the python setup still works -- for me its odd that julia shouldn't work and the python one still works given the appeared to be the same binary.

[2020-04-07 07:43] #29 closed

[2020-04-07 07:43] #28 closed

[2020-04-07 07:43] yalwan-iqvia commented on #27
#31 addresses

[2020-04-07 07:43] #27 closed

[2020-04-07 21:19] ablaom commented on #24
Sorry, no progress here. The python version is now throwing the same error:

[code]

I still have the env variable set in in .bashrc:

[code]

And really is set:

[code]

[2020-04-08 06:39] yalwan-iqvia commented on #24
Ok there are two things I can think of

Since the python one shows the same fault it is clearly a system setup issue, there are a couple of things you can try here which are hacks but should almost certainly work

1) copy `libomp.dylib` from its location to be adjacent to the python and julia lib_lightgbm files. This would work because the rpath was configured with the current working directory I

[2020-04-08 19:22] ablaom opened #32 "MLJ models need to predict vectors, not n x 1 vectors"
The prediction of any `Deterministic` model ought generally to have the same type as the training target.

[code]

So for example, this throws an error:

[code]

[2020-04-08 19:22] ablaom commented on #24
The second object (with link <--> file correction) works a charm, thanks!

[2020-04-08 19:22] ablaom commented on #24
https://github.com/IQVIA-ML/LightGBM.jl/issues/32

[2020-04-08 20:05] ablaom commented on #32
Can I suggest that to catch more such errors you introduce the following to your tests:

[code]

[2020-04-09 00:12] ablaom commented on #32
BTW the classifier looks good to go.

[2020-04-09 06:45] yalwan-iqvia commented on #32
Great thanks, incoming PR soon

[2020-04-09 06:51] yalwan-iqvia commented on #24
The python setup now works too, right?

[2020-04-09 07:06] yalwan-iqvia commented on #32
I'm trying to add those statements to tests but I seeing error likethis:

[code]
Not really sure whats up because I could run those commands in the REPL

[2020-04-09 07:12] yalwan-iqvia commented on #32
In fact this only occurs for classification, regression one with `@load_boston` works fine!

[2020-04-09 08:09] yalwan-iqvia commented on #32
Ok, further comments:
I wanted to include this into automated tests but it caused ... unclear ... problems with status checks.
I do think its related to broken pipe error

I couldn't help but notice this:

[code]

It does seem to me like theres some strange output trickery going on here which isn't compatible with headless terminals etc, and it's probably likely to be the root cause of why I got w

[2020-04-09 23:32] ablaom opened #35 "Confirm new MLJ registry entry works."
Congratulations! The LightGBM models have been added to the MLJ model registry.

The new MLJ registry entry is based on today's `master` branch (https://github.com/IQVIA-ML/LightGBM.jl/commit/c48d544aca4422d638a815d38c2b79426214b9e2). If the model structs or model metadata (trait definitions) change from those in this branch in the future, then raise an issue at MLJModels to update the registry.

[2020-04-09 23:59] ablaom opened #36 "Implement MLJModelInterface.update (feature request)"
Implement`update` so that `fit!` only *adds* iterations when `model.n_iterations` increases -  that is, to suppress retraining "from scratch" in those cases. This is useful for generating out-of-sample learning curves (performance against `n_iterations`) and for controlling early stopping externally (using out-of-sample estimates of performance); see this [issue on iterative model control in MLJ ]

[2020-04-10 00:14] ablaom commented on #32
I'm not immediately able to explain the PipeError problem. If this persists and you believe it's an MLJ issue, please post an issue.

Instead, you could do:

[code]

Happy for you to close this issue.

[2020-04-10 00:29] ablaom opened #37 "Remove need for Mac users to separately install libomp"
I'm not an expert on this but it seems others have figured this out (eg, XGBoost.jl). A good resource (although get's a lot of traffic) would be the julia slack channel #binarybuilder

[2020-04-10 00:30] ablaom commented on #24
Yes. Many thanks for the help!

[2020-04-12 18:03] yalwan-iqvia commented on #35
@ablaom thanks for confirming this. There is another PR which when it goes in we will prepare 0.2.0 release. In the meantime, we had worked with @tlienart previously to get some documentation onto the MLJ tutorials page -- what will be the process for this now?

[2020-04-13 21:56] ablaom commented on #35
Prepare the tutorial as a julia script (.jl) file, with your annotations as `#` comments (you can use markdown). Make it Literate.jl  - compatible if you know what that means, otherwise don't bother.

Please use PyPlot for generating graphics, to keep tutorial generation times down.

Then either email @tlienart or add your script to the https://github.com/alan-turing-institute/MLJTutorials/tree/ma

[2020-04-14 07:56] yalwan-iqvia opened #38 "deepcopy Booster object does not deepcopy associated Datasets"
As title.

Is this an issue or not.

[2020-04-14 07:59] yalwan-iqvia commented on #24
Given #37 and that this appears to work for you, closing

[2020-04-14 07:59] #24 closed

[2020-04-14 09:13] yalwan-iqvia commented on #1
#34  closes

[2020-04-14 09:13] #1 closed

[2020-04-14 09:15] yalwan-iqvia opened #40 "MLJ Tests"
I'm not immediately able to explain the PipeError problem. If this persists and you believe it's an MLJ issue, please post an issue.

Instead, you could do:

[code]

Happy for you to close this issue.

_Originally posted by @ablaom in https://github.com/IQVIA-ML/LightGBM.jl/issues/32#issuecomment-611812596_

^ Above snippet is for MLJ Integration test. Add to code

[2020-04-14 09:15] yalwan-iqvia commented on #32
Original problem is dealt with. Closing

[2020-04-14 09:15] #32 closed

[2020-04-14 09:19] yalwan-iqvia commented on #37
I'll take a look as time allows (I don't currently consider this high priority)  but a lot of it will depend on what the method used is.

For example, if it is about statically linking libomp or even shipping a copy, these can be pretty big no-go's as they can cause hard to troubleshoot library clashes, and at a fundamental level `brew install libomp` isn't a big thing to ask users to do -- even w

[2020-04-14 10:05] yalwan-iqvia commented on #35
@ablaom thanks for your help. I will follow up for tutorial separately

0.2.0 release, LGTM

[code]

[2020-04-14 10:05] #35 closed

[2020-04-14 23:20] azev77 opened #42 "Readme Error"
Hi,
the example in the Readme works until
`fit!(estimator, X_train, y_train, (X_test, y_test))`
It says:
[code]

[2020-04-15 06:39] yalwan-iqvia commented on #42
Thanks for taking the time to report this.

Actually the README is right, and the code has an error. When I did a latest piece of work I also decided that `fit` should be `fit!` as it mutates its arg, but I apparently forgot to update the export, and these fail silently. Will prepare a release patch. In the meantime, you should find that writing it out fully qualified , i.e. `LightGBM.fit!()` shou

[2020-04-15 07:03] #42 closed

[2020-04-15 07:17] yalwan-iqvia commented on #42
@azev77

Once this PR is merge, https://github.com/JuliaRegistries/General/pull/13002

LightGBM.jl 0.2.1 will be available, which should resolve this problem. Thanks for taking the time to report the issue. (please note there is also a small tweak in README.md)

[2020-04-15 12:43] yalwan-iqvia commented on #36
@ablaom Thanks for raising this request.

If you can think of other aspects of MLJ integration which might be missing, please do raise them as issues. As users might start using the package they might well ask for things which are from the python package, and where possible I'd like to be able to point them to MLJ integrations rather than implement similar features from scratch.

[2020-04-15 17:50] azev77 commented on #42
It works now! thank you.

Btw, how did you decide to set default values for the tuning parameters?
I think the current `min_data_in_leaf=100`
But in the [original pkg](https://github.com/microsoft/LightGBM/blob/eda4d644c7bd9be0454f0908a02fbc6c86a1166d/docs/Parameters.rst#min_data_in_leaf): `min_data_in_leaf=20`

[2020-04-15 18:07] azev77 commented on #42
Also is it possible to change the boosting type to "dart":
https://github.com/microsoft/LightGBM/blob/eda4d644c7bd9be0454f0908a02fbc6c86a1166d/docs/Parameters.rst#boosting

[2020-04-16 06:40] yalwan-iqvia commented on #42
This package is forked from the wakakusa version as of around January, so it carries same "warts", so to speak. I hadn't noticed that some of the defaults inside the wrapper don't match the main library. I'll raise an issue for this and the boosting type and mention you in it.

[2020-04-16 06:42] yalwan-iqvia commented on #23
Defaults might not be matching main LightGBM: https://github.com/IQVIA-ML/LightGBM.jl/issues/42#issuecomment-614185868
Another vote for the `boosting` parameter: https://github.com/IQVIA-ML/LightGBM.jl/issues/42#issuecomment-614194236

@azev77

[2020-04-16 08:12] yalwan-iqvia commented on #14
[code]

@ablaom This is the script I produced a while back, would someone be able to take a look at integrating it into the tutorials?

[2020-04-16 15:21] azev77 commented on #23
Btw, Caret has an interface to many R packages, just like MLJ.
In their interface, they set: xgbDART, xgbLinear, xgbTree as 3 separate models instead of just choosing the parameter xgb(boost="dart"), xgb(boost="linear") etc

Might this be worth doing w/ your interface to MLJ?

[2020-04-17 06:20] tlienart commented on #14
I'm looking into doing this now

[2020-04-17 06:41] yalwan-iqvia commented on #23
In implementation terms, doing this is likely to result in massive amounts of duplication of code.
I'm also not really sure of what the advantage is in real terms is to the user.

If you see recent commit https://github.com/IQVIA-ML/LightGBM.jl/commit/ee01161c0bb74cdf1cb47ccdefddc0e1886c475f that we actually went in opposite direction to this, by removing object-wise distinction between binary-mul

[2020-04-17 08:23] yalwan-iqvia commented on #14
Thanks @tlienart ! 💪

[2020-04-17 08:51] tlienart commented on #14
just in case: https://alan-turing-institute.github.io/MLJTutorials/end-to-end/boston-lgbm/

[2020-04-17 08:55] yalwan-iqvia commented on #14
Wow fantastic! Thank you so much! I'm satisfied with that, so closing.

[2020-04-17 08:55] #14 closed

[2020-04-17 16:00] azev77 commented on #23
You’re probably right.
The only reason I brought it up is that it can make it look like MLJ has more models.
Carey claims to have > 200 models, but a lot of them are the same model w different HP

xgbDART, xgbLinear, xgbTree

[2020-04-18 04:49] ablaom commented on #36
As an example of where this would help out is the learning curves for n_rounds you put in the tutorial. They currently run O(N^2) where N is the upper limit, but will be O(N) if `update` is implemented. Of course on Boston, you hardly notice the difference.

[2020-05-01 07:47] aviatesk opened #45 "Implement LGBM_BoosterFeatureImportance and expose feature importance"
how about `feature_importance(model)` functionality to provide information about features that were "important" while fitting ?

Maybe [these lines](https://github.com/microsoft/LightGBM/blob/7076cb8a3ac3a7b32dcf37be5593dddf27bf7f16/python-package/lightgbm/basic.py#L2759-L2795) will help to implement this.

[2020-05-01 07:52] yalwan-iqvia commented on #45
Thanks, this looks like a missing FFI call. Do you mind if I change the title of the issue?

[2020-05-01 08:01] aviatesk commented on #45
never ;)

[2020-05-01 08:39] yalwan-iqvia commented on #45
So it is ok? 😁

[2020-05-01 08:40] aviatesk commented on #45
ah sorry for my bad engligh, no, I don't mind if you change the title, of course 😅

[2020-05-01 08:48] yalwan-iqvia commented on #45
Your English is fine, I just wanted to be certain 👍

[2020-05-04 06:58] yalwan-iqvia commented on #45
@aviatesk and anybody else who checks this issue

As a workaround, for now, one can do `mean(LightGBM.predict(e, X; predict_type=3); dims=1)`, which will average SHAP values for all preidctions -- The C-API supports it even though our documentation does not mention this.

So I will also update documentation for `predict` when I develop this feature.

[2020-05-06 04:14] ablaom opened #46 "Incorrect is_wrapper trait value for MLJ interface"
The following should be changed to `false` in all your models. It is the default.

I recently rebuilt (locally) the MLJ model registry and your models mysteriously vanished. The new behaviour may be because of something in MLJModel I "fixed" but `false` is indeed the correct value.

The trait is `true` for meta-models, such as `TunedModel` that you don't want to appear in the registry.

[2020-05-06 04:16] ablaom commented on #46
Sorry, I forgot the link:

https://github.com/IQVIA-ML/LightGBM.jl/blob/6e07ff1d2e2c8651e0c11986cf3a32ec6dd6918d/src/MLJInterface.jl#L240

[2020-05-11 14:24] yalwan-iqvia commented on #23
Just to let you know, I haven't forgotten this. I've been buried with other work, but I'm hoping in the coming weeks to bundle a few features together and create a new release.

[2020-05-11 14:25] yalwan-iqvia commented on #46
Sorry I didn't respond sooner, for some reason I didn't get an email. Fix is incoming.

[2020-05-11 14:52] yalwan-iqvia commented on #46
Sorry it took me so long to get to this:

https://github.com/JuliaRegistries/General/pull/14566

If it doesn't do what you need, please re-open.

[2020-05-11 14:52] #46 closed

[2020-05-12 04:50] ablaom opened #48 "Test failing locally for me"
With LightGBM in an env by itself:

[code]
I get:

[code]

Which is odd, as I see CI was run pretty recently.

[2020-05-12 04:52] ablaom commented on #48
Does testing only work if certain environment variables are set?

[2020-05-12 06:54] yalwan-iqvia commented on #48
Thats right, it is documented on the readme that we need a few things from the LightGBM distribution in order to run tests.

[2020-05-12 19:34] #48 closed

[2020-05-13 12:34] yalwan-iqvia commented on #36
I'm thinking about what I need to do to implement this, and I believe it would be sufficient to premit it for increases on `n_iterations` only -- the reason being that while cyclic learning rates are a useful notion, gradient boosting solves a convex problem and so I believe cyclic learning rates are unnecessary.

[2020-05-13 13:59] yalwan-iqvia commented on #40
Closed by #49

(but revisit at some point when machine  takes verbosity argument to reduce output vomit)

[2020-05-13 13:59] #40 closed

[2020-05-13 20:37] ablaom commented on #36
Well,  cyclic learning rates are just one control strategy one might want to implement. However, adapting the learning rate during training is "bells and whistles". Be very happy to see an update to catch `n_iterations` increases, as this is really essential.

[2020-05-13 20:42] ablaom commented on #40
Not sure this is what your mean here. But FYI: you can't give the `machine` constructor verbosity argument but you can give a verbosity argument to `fit!`, as in `fit!(mach, verbosity=0)`.

[2020-05-14 06:50] yalwan-iqvia commented on #40
Huh thanks, let me try this out

[2020-05-14 07:07] yalwan-iqvia commented on #36
Just one question: How come it is `update` rather than `update!` ?

[2020-05-14 14:16] yalwan-iqvia commented on #36
Would you also be able to supply a usage snippet?

[2020-05-14 20:28] ablaom commented on #36
It's not anticipated that you would need to mutate arguments. This low-level model interface is "functional" style: You suck in a `fitresult` and `cache` and spit out new ones. See https://alan-turing-institute.github.io/MLJ.jl/dev/adding_models_for_general_use/#Iterative-models-and-the-update!-method-1  Do you think you might need to mutate something?

Maybe you misunderstand. This method is not

[2020-05-14 20:55] yaxxie commented on #36
I think so, mostly I am concerned with ensuring I implement it properly and doing what is needed of it, rather than something way off-piste.

As for mutating things, no, I had a slightly dumb moment (I had observed fit was functional prior to this and then apparently forgotten), no further remarks there.

[2020-05-15 14:33] yalwan-iqvia commented on #36
Ok thats good after spending a few moments on EvoTrees one it looks like they do the same as what I say, if number of rounds increases only, we can update else we must fit.

[2020-05-15 15:21] yalwan-iqvia commented on #36
Please take a look at this PR: https://github.com/IQVIA-ML/LightGBM.jl/pull/51

Its in draft at the moment while I figure out how much tidying up I want to do as a consequence
All your remarks are appreciated
I would also appreciate if you can provide some snippet code I can use to exercise the `update` path in an integration style test
I didn't write any new tests for `update` method yet

**N.B.*

[2020-05-18 23:31] ablaom commented on #36
Yeah, testing this is a bit finicky. One way we do this - and it may not be the best - is with `@test_logs`. The idea is that you set the verbosity to a level where each new iteration round makes some `@info ` call (I don't know if you have that) which allows you to count how many iterations actually get performed. You can have a look at the Flux tests here, for example: https://github.com/alan-tu

[2020-05-22 06:01] sbeura commented on #23
i found these important parameters missing:

**boosting**: defines the type of algorithm you want to run, default=gdbt
    gbdt: traditional Gradient Boosting Decision Tree
    rf: random forest
    dart: Dropouts meet Multiple Additive Regression Trees
    goss: Gradient-based One-Side Sampling

**max_cat_group**: When the number of category is large, finding the split point on it is easily over-

[2020-05-26 07:12] yalwan-iqvia commented on #23
**num_boost_round** is an alias for **num_iterations** which we already have

I am not yet sure what to do about supporting all of the aliases, because you cannot reasonably alias struct fields (that I know of), and reproducing their aliasing logic seems like a bit of a wasted effort

[2020-05-26 09:16] yalwan-iqvia commented on #23
As for **application** you can see it is supported: https://github.com/IQVIA-ML/LightGBM.jl/blob/master/src/estimators.jl#L7
But the kwargs constructor doesn't take it:
https://github.com/IQVIA-ML/LightGBM.jl/blob/master/src/estimators.jl#L93
So that one is an easy fix.

[2020-05-29 06:37] yalwan-iqvia commented on #36
https://github.com/IQVIA-ML/LightGBM.jl/pull/51

I un-drafted the PR, if you can take a look it would be appreciated.

[2020-05-29 11:22] yalwan-iqvia commented on #7
https://lightgbm.readthedocs.io/en/latest/Parameters.html#refit_decay_rate

This parameter is relevant, when implementing this feature.

[2020-06-01 15:14] yalwan-iqvia commented on #45
PR for the feature, sans MLJ integration: https://github.com/IQVIA-ML/LightGBM.jl/pull/52

Does this look sensible to you?

[2020-06-04 06:59] yalwan-iqvia commented on #36
PR is merged (plus mini fixing PR)

Closing this.

[2020-06-04 06:59] #36 closed

[2020-06-04 07:01] yalwan-iqvia opened #54 "Cleaner documentation"
The README is pretty long and will only get longer.

Can we tidy this up by using a smaller collection of documents in /docs/ and Github pages?

[2020-06-04 09:03] yalwan-iqvia commented on #45
@aviatesk

I've merged said PR https://github.com/IQVIA-ML/LightGBM.jl/pull/52

It implements `gain_importance` and `split_importance` functions for the medium level API, and `LGBM_BoosterFeatureImportance` from the low level (FFI) API. There is no MLJ integration yet, if you have any suggestions it would be appreciated.

I'd like to close this issue and have new one for the MLJ integration aspect

[2020-06-04 09:12] aviatesk commented on #45
Ah, thanks for addressing this and letting me know the update !
I will try to take a look at your PR tonight, but I'm not sure I can post meaningful feedback on this.
Well, I'm totally okay if you close this issue :)

[2020-06-05 18:03] azev77 opened #55 "Feature Request: auto-LGBM"
You probably know there are various auto-tuning self tuning packages such as AutoXGBoost etc.
It would be awesome if, at some point, there were options to automate HP tuning for LGBM.

[2020-06-08 07:17] azev77 commented on #55
The way I see it, there are generic hyperparameter optimizers (Hyperopt.jl etc) which can be applied to almost any model and there are model specific packages ([LiquidSVM](https://github.com/liquidSVM/liquidSVM)). Sometimes the model specific ones are optimized for that specific purpose... Sometimes not.

I'm excited about TreeParzen.jl, I look forward to testdriving it!

[2020-06-08 07:21] yalwan-iqvia commented on #55
Thanks for the update. Without any particular knowledge about more method-specific hyperparameter optimisers, I can't say there is currently a plan for such a thing, but will keep this in mind 😄

[2020-06-08 08:05] azev77 commented on #55
Btw, here is a post on autotuning LGBM w/ optuna (https://medium.com/optuna/lightgbm-tuner-new-optuna-integration-for-hyperparameter-optimization-8b7095e99258).

[Optuna](https://github.com/optuna/optuna) has example for [LGBM](https://github.com/optuna/optuna/blob/master/examples/pruning/lightgbm_integration.py), XGB, Keras, MXNet, Pytorch etc.

I'd love to write a simple script to help auto-tune

[2020-06-08 08:58] yalwan-iqvia commented on #55
https://github.com/optuna/optuna/blob/7315f5f6032ce5a9b0e8ea30e82beb110f5e428b/examples/pruning/lightgbm_integration.py#L34

What do you think? Do you think suggestion here is that these are most useful parameters for tuning?

It feels a bit example-specific, I wouldn't in all applications want to turn on random subspace method or bagging, but they're unconditionally on here in this example.

I gu

[2020-06-08 15:30] yalwan-iqvia commented on #55
This is embarrassingly rough, but take a look if you fancy:

https://github.com/IQVIA-ML/TreeParzen.jl/pull/36/files

[2020-06-08 17:17] azev77 commented on #55
Looks like it's coming along nicely.
Btw, it's routine to benchmark any self-tuning model as follows:
![image](https://user-images.githubusercontent.com/7883904/84060266-eb35b280-a989-11ea-9860-8fe617e8c1ec.png)
![image](https://user-images.githubusercontent.com/7883904/84060382-18826080-a98a-11ea-88da-cb13d6fa27bd.png)

I was actually thinking of doing something like this with MLJ at some point b

[2020-06-09 06:51] yalwan-iqvia commented on #55
We should indeed arrange a chat @iqml would also be interested in this

[2020-06-09 07:39] azev77 commented on #55
I sent an email via Discourse

[2020-06-10 01:32] ablaom opened #56 "Raise lower bound: [compat] MLJModelInterface = "^0.3""
This will allow your classifier to buy into [this](https://github.com/alan-turing-institute/MLJBase.jl/pull/327) performance improvement. Apart from the [compat] update, the only other step should be to replace the following line

https://github.com/IQVIA-ML/LightGBM.jl/blob/87240e65215d7c6e0c649fd30bdd2ed1c47eef28/src/MLJInterface.jl#L251

with

[code]
which returns an instance of an *abstract* v

[2020-06-10 08:49] #56 closed

[2020-06-10 11:35] aviatesk opened #59 "`fit!(estimator, X, y, test...)` method fails into infinite loops"
MRE:
[code]

so I guess you maybe need to introduce some type piracy [here](https://github.com/IQVIA-ML/LightGBM.jl/blob/8b5a838d5278bbbe06654220b6c06770963a2c4a/src/fit.jl#L70)

[2020-06-10 11:52] yalwan-iqvia commented on #59
I'll need to review our tests for this, surprised it didn't show itself

[2020-06-10 11:57] yalwan-iqvia commented on #59
P.S. Thanks for reporting so quickly!

[2020-06-11 04:46] aviatesk commented on #59
@yalwan-iqvia thank for quick update !
I actually don't have strong opinion on the way to pass data nor on its format.
Just posted because guessing from README and docstring, `fit!(estimator, X, y)` seems to be better to work.
I know DataFrames.jl's typing is kinda scary, and I'm personally okay with any solution you want to live with.

[2020-06-17 12:28] yalwan-iqvia opened #61 "MLJ Feature importance in report"
Now that we have feature importance #52 we should probably integrate it into the MLJ fit report so that users can simply retrieve it from there.

[2020-06-17 12:28] yalwan-iqvia commented on #45
Raised #61

[2020-06-17 12:28] #45 closed

[2020-06-26 11:02] yalwan-iqvia commented on #23
#62 PR just merged, brings support for boosting parameter and those related to DART and GOSS

[2020-09-10 10:50] wakakusa commented on #54
Using Documenter, you can create function documentation from comments in the source code. First of all, why don't you try to remove the function's description from the README after you create the function's documentation?

[2020-09-10 11:33] wakakusa opened #64 "Controlling the package loaded LightGBM library"
Is it possible to control the LightGBM library to be read by the package by specifying the directory where the LightGBM library is located with the LIGHTGBM_PATH environment variable so that the LightGBM compiled from the source code can be used?

[2020-09-10 13:37] yalwan-iqvia commented on #64
Hi @wakakusa !

Unfortunately, it is not currently possible (I stripped it down to the simplest possible thing). As an immediate workaround, you can remove the downloaded `lib_lightgbm.so` from the julia package path and put a symlink to your own, but I will explore options to make it so that you can supply your own library. Bear in mind I want to avoid introducing custom environment variables so

[2020-09-10 13:39] yalwan-iqvia commented on #54
Hi @wakakusa!

Do you mean that we should remove the stuff explicitly written out in the README.md if it is already present as a docstring?
I'm also happy if you would open a PR with example usage of Documenter.jl and how you think it could look.

[2020-09-11 08:22] iqml commented on #64
We need to ensure we come up with a platform-neutral solution.

[2020-09-15 10:51] yalwan-iqvia opened #65 "LightGBM 3.x.x support"
LightGBM recently released 3.0.0 version. Make sure wrapper supports this version. Bonus points if we are able to keep supporting both 2.3.1 and 3.0.0 simultaneously.

[2020-09-15 10:51] yalwan-iqvia commented on #64
Hi @wakakusa -- was the request motivated by the new release of LightGBM 3.0.0? We would want to look into making sure the wrapper supports this version of the library as well (#65)

[2020-09-16 14:49] wakakusa commented on #54
Hi @yalwan-iqvia
#67 New function documentation has been created and function descriptions have been removed from Readme.md.

[2020-09-18 00:13] wakakusa commented on #64
Hi @yalwan-iqvia ,There are two reasons.
First, I'd like to try out the new release of LightGBM (3.0. 0).
The other one seems not to work with LightGBM, which provides some of the parameters such as device specification. Therefore, you need to make use of LightGBM built from source.

[2020-10-02 08:06] yalwan-iqvia commented on #54
Resolved by #67

[2020-10-02 08:06] #54 closed

[2020-10-12 11:35] msekino opened #71 "Module files that import LightGBM fail to compile"
I'd like to use LightGBM in a module file.
I made a project "Example" and wrote a following code in Example.jl
[code]
`using Example` resulted in the following.
[code]

Temporarily, it is possible to avoid the error by putting `__precompile__(false)` to the beginning of the file, but it doesn't seem to be a very preferred solution.

[2020-10-12 11:44] yalwan-iqvia commented on #71
Hi @msekino ! Thanks for taking the time to report this

After a quick bit of digging it seems it is due to this:

https://github.com/IQVIA-ML/LightGBM.jl/blob/47d9a878626ed5f2430a83fed21a5f3e72f47c1a/src/LightGBM.jl#L21

I'll have to figure out why I did it and then stop doing it without breaking it. I will keep you up to date with this. Hopefully the fix can make it soon.

[2020-10-12 12:58] yalwan-iqvia commented on #71
[code]

I think I did it to stop this class of warnings appearing. However, it seems like its no consequence for me to remove this include from the init, which would fix the issue. I will go to MLJ project and see what I can do to suppress those warnings.

I will try to come with a fix soon.

[2020-10-12 13:04] yalwan-iqvia commented on #71
@ablaom do you know what I might do in order to stop those warnings appearing?

[2020-10-12 23:07] ablaom commented on #71
Yeah, I've also had problems using `eval`(and hence macros)  inside an `__init__` function (see https://github.com/alan-turing-institute/MLJModels.jl/issues/74). What's the reason for including the file `MLJInterface.jl` *post facto* ? If you move it out of `__init__` I expect the warnings will go away.

Maybe this helps: https://github.com/JuliaLang/julia/issues/29059 .

[2020-10-13 07:09] yalwan-iqvia commented on #71
Sorry, I was a little unclear. I was asking because it occurs when I move it out of `__init__`

[2020-10-13 19:09] ablaom commented on #71
Oh, I see. This looks like a problem with MLJModelInterface.jl.

My guess is there is an issue with `metadata_pkg` and `metadata_model` methods, which have `eval` in them. Maybe something to do with use of `parentmodule`, but I'm not sure and not completely understanding why this has not come up with other interfaces. I will investigate. cc @tlienart

Would be helpful to know if you get the warnin

[2020-10-14 07:20] yalwan-iqvia commented on #71
I managed to find this:

https://discourse.julialang.org/t/use-of-eval-in-closed-module-and-incremental-compilation-may-be-broken/30028

Is it possible that is related?

[2020-10-14 07:23] yalwan-iqvia commented on #71
https://github.com/alan-turing-institute/MLJModelInterface.jl/blob/master/src/model_def.jl#L70
This the possible culprit?

[2020-10-14 22:56] ablaom commented on #71
Yes that's it. Good catch. This needs to be evaluated in the  module from where the @mlj_macro is called, which must according be passed to the function you point out as an argument.

Working on a new release of MLJModelsInterface. Thanks for bringing this to my attention.

[2020-10-14 23:21] ablaom commented on #71
@msekino When https://github.com/JuliaRegistries/General/pull/22970 is merged, would you be so kind as to update your project env and confirm that my fix resolves your issue?

[2020-10-14 23:24] ablaom commented on #71
Oh sorry. @yalwan-iqvia will first need to move the include out of `__init__` for this to work.

[2020-10-15 04:11] msekino commented on #71
@ablaom Yes, I'll be glad to try it!  Best regards.

[2020-10-15 04:33] msekino commented on #71
@ablaom Thank you for your help!

I just updated as follows.
[code]

I made a project "Example"
[code]

then, I wrote Example.jl
[code]

However, `using Example` resulted in the following.
[code]

I'm not sure what caused it. And I'm sorry if I'm doing something wrong...

[2020-10-15 07:06] yalwan-iqvia commented on #71
@msekino hey sorry for the confusion. What's going on here is that @ablaom has made a fix to an upstream project which I will test now and then make a release. So you'll need an updated version of LightGBM.jl (which I am working on now)

[2020-10-15 07:20] yalwan-iqvia commented on #71
@ablaom I've done this but do you think there might be a better way?
https://github.com/IQVIA-ML/LightGBM.jl/pull/73/commits/58661c6b6851fd2d6d4c880f28e1142a7adebdb1

[2020-10-15 07:46] yalwan-iqvia commented on #71
@msekino when this merge is complete https://github.com/JuliaRegistries/General/pull/22979

it should hopefully resolve your issue. You will need to make sure to update to LightGBM.jl >= 0.3.2

[2020-10-15 11:53] msekino commented on #71
@yalwan-iqvia @ablaom
Now I was able to precompile the module without problems!
Thank you very much for the quick resolution!

[2020-10-15 11:57] #71 closed

[2020-10-15 11:57] yalwan-iqvia commented on #71
Thanks for reporting and thanks Anthony for the super quick response 😄

[2020-10-15 19:12] ablaom commented on #71
58661c6

Nope. That's the way to do it.

[2020-11-11 15:40] #65 closed

[2020-11-11 15:50] kainkad opened #78 "possible bug with MLJInterface"
While upgrading LightGBM to v.3.0.0 an issue has been found with one of the previously passing tests now failing: https://github.com/IQVIA-ML/LightGBM.jl/blob/master/test/mlj/binary_classifier.jl#L41 where we compare predictions for models fitted with and without weights. The issue has been troubleshooted and indicated a possible bug with the MLJInterface.
The below code shows that the issue wasn'

[2020-11-30 17:38] chilledgeek opened #83 "Warning or default for when no metrics set for cv?"
I noticed that when an estimator has the flag `is_training_metric = true` but no metrics set, the cv returns an empty object without warning (see example below).

This might be nothing (as expected), but I thought I'd just raise it to see whether this should be allowed, or whether we should either have a warning saying no metrics specified, or set some default metric if none is specified?

[code]

[2020-12-02 15:07] yalwan-iqvia opened #85 "Bug with early stopping logic"
As per:
https://lightgbm.readthedocs.io/en/latest/Parameters.html#early_stopping_round

the default should not be with early stopping enabled. However:

[code]

Early stopping should not occur in this case.

Also the output logging is annoying (or should at least be disabled with low verbosity levels)

[2020-12-09 10:55] #85 closed

[2020-12-09 11:50] yalwan-iqvia commented on #64
Hi @wakakusa

I just wanted to draw your attention to the fact that LGBM V3 support was released (v0.4.0). We had to update the internal API to support this so this feature would not have helped here. We're also about to upgrade the package to 3.1.0 with a release coming soon. But also we have some plans to work soon on letting user supply own binary.

[2020-12-09 11:53] yalwan-iqvia commented on #83
Given LightGBM proper permits this without spewing any additional warnings I'm not sure we want to do too much extra. I think one of the philosophies we want to try to stick to is being the thinnest wrapper possible (without being inconvenient to use, hence some of the higher level functions).

[2020-12-09 11:53] yalwan-iqvia commented on #78
When we make a new release (soon-ish) with 3.1 pre-bundled, we should probably revisit this in conjunction with upgraded MLJ libs and see if the problem disappears or not.

[2020-12-09 11:55] yalwan-iqvia commented on #23
https://github.com/IQVIA-ML/LightGBM.jl/pull/79 merged, brings quite a few additional parameters. Will become available hopefully soon when we cut the next release.

[2020-12-09 11:55] yalwan-iqvia commented on #6
This is a non-issue -- was due to "is_training_metric" default false.

[2020-12-09 11:55] #6 closed

[2021-01-11 16:53] rbeeli opened #89 "Add "alpha" parameter used for Huber loss and Quantile regression"
Is it possible to specify the `alpha` parameter somehow already? If not, could this parameter be added?

LightGBM docs:
[code]

[https://lightgbm.readthedocs.io/en/latest/Parameters.html#metric-parameters](https://lightgbm.readthedocs.io/en/latest/Parameters.html#metric-parameters)

[2021-01-11 16:56] rbeeli opened #90 "Custom objective and evaluation function"
The Sklearn API provides a simple way of specifying custom objective functions and evaluation metrics:

[code]
Source: [https://towardsdatascience.com/custom-loss-functions-for-gradient-boosting-f79c1b40466d](https://towardsdatascience.com/custom-loss-functions-for-gradient-boosting-f79c1b40466d)

Is the same possible with LightGBM.jl? If not, can this feature be added?

[2021-01-12 08:04] yalwan-iqvia commented on #89
Hi @rbeeli thanks for raising the issue. This one is fairly straightforward and we can probably have a patch release with this fairly soon. We'll keep you up to date.

[2021-01-12 08:06] yalwan-iqvia commented on #90
Hi @rbeeli thanks for raising this issue.

This request is not super straightforward or high on our priorities list. With that said we can take a look at what is required to implement these features, but I'm not sure we can turn this one around quickly.

[2021-01-12 08:13] yalwan-iqvia commented on #90
Notes:
Custom objective requires implementing currently unimplemented C-API call `LGBM_BoosterUpdateOneIterCustom`
Custom metrics: Needs to rejig fit!/train! calls, possibly needs to implement some C-API functions to get predictions without calling predict directly, needs more investigation

[2021-01-14 10:57] bencottier opened #92 "Access the best iteration from early stopping"
As far as I can tell, when using early stopping there is no way to directly access the best iteration (according to validation set metrics).

If the early stopping condition is triggered, then `eval_metrics!()` logs the best iteration. I can then manually input that as `num_iterations` in `predict()` or `savemodel()`.

However, it would be useful to access this programmatically, whether or not the

[2021-01-14 11:05] yalwan-iqvia commented on #92
Hi @bencottier
Thanks for logging this issue!

Just to clarify, are you asking that the exact iteration which has the best validation metric be recorded, early-stopping or otherwise? Another issue this makes me realise is that if early stopping is on, we should probably be truncating the model, but currently we do not.

This is a fair request. I wouldn't want to include it into the estimator struc

[2021-01-14 11:19] bencottier commented on #92
Hi @yalwan-iqvia - thanks for considering this!

Yep. The relevance of early stopping is just that it prints out the best iteration, if the early stopping condition is triggered. That's how I noticed the issue.

Yeah, I was surprised that it doesn't truncate the model. But I think it would be best as an option (perhaps truncating by default), rather than forcing it to be truncated.

[2021-01-14 11:35] yalwan-iqvia commented on #90
To support custom metrics without calling predict, we can use `LGBM_BoosterGetPredict` -- this is already implemented

[2021-01-17 22:31] ablaom opened #93 "Missing values in features"
Do LightGBM.jl models allow features to have `missing` values? If so, it would be good to allow this through the MLJ interface as well (probably just need to extend `input_scitype` for the models). I would be happy to make the necessary PR.

@yalwan-iqvia

[2021-01-18 13:00] yalwan-iqvia commented on #93
Yes but we have to deal with transposing the "missings" to NaN (because thats how its encoded to the library). So, right now, we can't just blanket turn it on -- I am operating under the assumption here that `missing` means the native julia Missing type and not "encoded missing".

Also transposing to NaN comes with its troubles like making the translation without paying high memory usage costs, an

[2021-01-18 20:23] ablaom commented on #93
Yes, I expect that's the main use-case.

Thanks for considering this. Appreciate there is devil in the details and this could take some time.

[2021-01-19 08:05] #89 closed

[2021-01-28 16:01] chilledgeek commented on #92
Hi @bencottier,

A PR is coming soon to address this :)

I will let you know once the PR is submitted so you can either test from my PR branch, or wait for a release with the feature shortly

Thanks for logging this issue and waiting!

[2021-01-28 16:04] yalwan-iqvia opened #95 "Buy into MLJ resampling performance API changes"
MLJ recently added a new API through which implementations can use their own optimised resampling methods, if available, rather than slicing into the tabular data, which can permit performance enhancements or reduced memory usage for libraries such as LightGBM.

@ablaom could you provide references or documentation for the new API? Thanks

[2021-01-28 19:08] ablaom commented on #95
Docs aren't live but they are already in a pending PR and the API will not change:

https://github.com/alan-turing-institute/MLJ.jl/blob/mlj2/docs/src/adding_models_for_general_use.md#implementing-a-data-front-end

Happy to provide further guidance and clarification.

[2021-02-01 17:21] #92 closed

[2021-02-02 09:41] chilledgeek commented on #92
Hi @bencottier, the PR has been merged to master :)

We will probably add some more features before making a new release, so if you want to try out the new feature, please go ahead and grab it from master.

Thanks!

[2021-02-09 11:58] #64 closed

[2021-02-09 12:01] chilledgeek commented on #64
Hi @wakakusa we've implemented the logic to use custom `lib_lightgbm` binaries now.

You can refer to https://github.com/IQVIA-ML/LightGBM.jl#custom-lightgbm-binaries on how to set this up.

Thanks!

[2021-02-11 13:24] wakakusa commented on #64
Hi  @chilledgeek
Thank you for implementing the logic using the custom lib _ lightgbm binary!!
I will use it right away.

[2021-03-05 11:15] kd-iqvia opened #105 "LD_LIBRARY_PATH gets overrode by pre-compiled lightGBM.jl binary"
I've encountered a possible bug when running lightGBM.jl with my custom binary. Despite of pointing my LD_LIBRARY_PATH to the custom binary, whatever is existing in here: `~/.julia/compiled/$JULIA_VERSION/LightGBM` will be used.
The current workaround is to: `rm -rf ~/.julia/compiled/v1.4/LightGBM` and then the exported LD_LIBRARY_PATH will work correctly.
Ideally, we'd like to avoid doing it each

[2021-04-08 19:17] kd-iqvia commented on #78
Seems like the issue still exists. I checked that by reverting this line https://github.com/IQVIA-ML/LightGBM.jl/blob/master/test/mlj/binary_classifier.jl#L19 back to using `rand(1000)` instead of `rand(1010)` and it triggered the same error on https://github.com/IQVIA-ML/LightGBM.jl/blob/master/test/mlj/binary_classifier.jl#L40. Need to investigate.

[2021-04-16 14:51] #105 closed

[2021-08-22 20:38] rofinn opened #112 "Consider using BinaryBuilder and BInaryProvider"
The current `deps/build.jl` script doesn't really work for me as it assumes I already have the `lib_lightgbm.dylib` dependencies already installed. Since `Libdl.find_library` doesn't provide any details on why the file doesn't work, you need to call `dlopen` on the downloaded file and install the system dependencies. BinaryBuilder provides a mechanism for specifying these dependencies and BinaryPr

[2021-08-23 10:02] yalwan-sage commented on #112
Hi @rofinn the only dependency is libomp -- did you have a trouble obtaining this?

[2021-08-23 14:19] rofinn commented on #112
No, I can install it with brew on my local system. It’d be nice if we didn’t need to have it as a separate setup process though.

[2021-08-23 17:21] rofinn commented on #112
If I find some time over the next week or two, I'll make a PR with that change.

[2021-08-23 20:11] yaxxie commented on #112
See also: https://github.com/IQVIA-ML/LightGBM.jl/issues/37#issuecomment-613326087

A PR would be well received -- when doing so, it would be good to consider how to make this opt out.

[2021-11-29 11:39] yaxxie commented on #5
Closed by #114

[2021-11-29 11:39] #5 closed

[2021-11-29 11:40] yaxxie commented on #90
#114 make partial progress towards this request

[2021-11-29 14:40] yaxxie commented on #93
@citron could you elaborate on your use case? This ticket is concerned with LightGBM.jl "announcing" support for missing values to MLJ users -- but if you're talking about CLI or python it would seem to me you wish to use LightGBM.jl instead.

[2022-04-14 03:59] Frank-III opened #117 "ERROR: Package LightGBM errored during testing"
[code]

[2022-04-26 11:03] yaxxie commented on #117
Hi @Frank-III -- thanks for the report!

It looks like you're using an own LightGBM Binary -- could you state which  API version?

When I use the one distributed with this package it doesn't fail at FFI tests, although I can see some other failures.

I will investigate if this is limited to 1.7 or not

[2022-05-03 07:52] WZimmerman83 opened #118 "Feature Request: LightGBM Ranking"
Hi, are there plans to add ranking to this package (LightGBM Ranker)? Currently the only ways to get ranking is going PyCall method for Catboost or convert all variables to numeric for XGBoost (this is a nightmare for large/wide datasets).

having a 100% Julia solution would be awesome.

[2022-05-05 22:44] yaxxie commented on #118
Hi @WZimmerman83, thanks for the issue!

Very old versions of this package actually supported this. I'm not sure why it was removed.

With that said, I'll take a look at what's needed to add it in.

[2022-05-27 08:55] yaxxie commented on #117
Hi @Frank-III !

I recently fixed tests on master for 1.7 (which were broken but for other reasons)

Taking a more careful look at the failing testcase presented I can see that you're probably using a master version of the C-library. This has changed the version string from v3 to v4 (although I don't know why)

I'll fix this particular test as well, so that you can run them all through, but I shou

[2022-05-27 09:09] Frank-III commented on #117
Thanks! Sorry for not noticing your reply, I would try to install it!

[2022-05-27 09:14] yaxxie commented on #117
I just merged #121 so the master version of this package should not fail the tests. Let me know if thats good for you

[2022-05-27 09:18] Frank-III commented on #117
I just update LightGBM package, and I get fft test to pass but other error occurs

[2022-05-27 09:30] yaxxie commented on #117
A couple of things are slightly weird here:

[code]

This is the FFI tests from the CI but yours is reporting less tests

2nd, the MLJ tests can occasionally fail by chance (random seeds etc). I'd suggest you try again but I have a feeling they would fail again, and the reason I think so is that usually only a single MLJ test fails but here almost all of the ones prone to failing are failing toget

[2022-05-27 11:19] Frank-III commented on #117
All tests passed, thanks for your detailed comments. I would close the issue.

[2022-05-27 11:19] #117 closed

[2022-06-09 14:24] ChristianMichelsen opened #122 "InitError: LightGBM.LibraryNotFoundError and ArgumentError: NULL library handle"
Hi!

I am having trouble (installing and) using LightGBM.jl.

I have tried a combination of using just LightGBM.jl, or with an external binary (either homebrew or by [building from Github](https://lightgbm.readthedocs.io/en/latest/Installation-Guide.html#build-from-github)).
No matter what, if I open Julia 1.7.3 in a new, fresh environment with only LightGBM.jl added, I get the following:

[code]

[2022-06-10 11:13] yaxxie commented on #122
Hi @ChristianMichelsen, thanks for the issue!

So the problem from what I can tell is that the lib fails to load, and this is clear from the original exception. Attempting to load again doesn't re-throw, because it uses the module level init protocol (which is intended for once-runtime loads). Since you effectively ignored the original exception it is not too surprising it doesn't work later on.

[2022-06-13 13:21] ChristianMichelsen commented on #122
I have run `brew install libomp` previously, which I assume is enough? Or how do I check that `libomp` is installed and linkable?

I mean that when I type `lightgbm` points to `/opt/homebrew/bin/lightgbm`. This folder does not contain any `lib_lightgbm.dylib`.

However, my non-brew installation (at `/Users/michelsen/software/LightGBM`) contains both the binary `lightgbm` and `lib_lightgbm.so`. Yet

[2022-06-13 21:40] yaxxie commented on #122
Compiled from source? I'm surprised you end up with a library with a `.so` extension rather than a `.dylib` extension

Could you try to do the following?

[code]

and show me what happens?

[2022-06-14 10:42] ChristianMichelsen commented on #122
To be honest, I just blindly followed the [installation guide for Mac](https://lightgbm.readthedocs.io/en/latest/Installation-Guide.html#macos).

I tried running your command, but I am still getting:

[code]

[2022-06-14 18:26] yaxxie commented on #122
And the output for this?

[code]

[2022-06-14 18:44] ChristianMichelsen commented on #122
[code]

[2022-06-14 23:06] yaxxie commented on #122
Can you run the following:

[code]

[2022-06-15 05:41] ChristianMichelsen commented on #122
[code]
and

[code]

By the way, thanks a lot for all your help!

[2022-06-15 15:11] yaxxie commented on #122
So, I'm not super familiar with otool output but the fact that each of those points at different locations is definitely concerning/interesting

Show me the outputs for:
[code]

[2022-06-15 15:29] ChristianMichelsen commented on #122
[code]

I'm assuming the result of the first command is also a bit concerning?

[2022-06-15 23:19] yaxxie commented on #122
Yeah so something weird for me is that the `so` file (I assume this is one you compiled?) links to a file present in your system but the dylib one (which I assume is the supplied one) seems to be with a fixed link to a linkable binary, which isn't present on your system.

My hypothesis is that if you move the `dylib` away, and move the `so` to have a `dylib` extension, it will work. But how your w

[2022-06-16 06:59] ChristianMichelsen commented on #122
Okay, so I went into my `/Users/michelsen/.julia/packages/LightGBM/A7zVd/src/` directory.

I deleted the original `lib_lightgbm.dylib` and changed the extension of `lib_lightgbm.so` to `lib_lightgbm.dylib`.
I hope this is what you meant?

However, I still get:

[code]

when I try to import LightGBM in a new Julia session.
I might just start over, deleting LightGBM both from Homebrew and my own com

[2022-06-16 18:05] yaxxie commented on #122
It is supposed to work out of the box with just `brew install libomp` and `] add LightGBM`. This is effectively what the CI tests when it runs the macOS version

Perhaps you can share some relevant details of your mac such as:
* OS version
* Is it M1
* Any unusual installation things you might have done
* Other things you think might be relevant

Then, as a sanity test, do the following:

[code]

[2022-06-17 11:02] ChristianMichelsen commented on #122
Oh, I am sorry about not mentioning this before!

I am running MacOS Monterey (12.4) on an Apple M1 Pro.
I have not done anything unusual, at least not intentionally. But yeah, it is an M1, and I've previously run into problems with the native Julia version, so right now I am running 1.7.3 in rosetta mode.

Looking back, I have previously had some trouble with `make` and `homebrew`, where I had to

[2022-06-21 22:52] yaxxie commented on #122
Ok so the next step is to try to find the binary associated with the python installation and copy it to the julia installation

Something like

[code]

if it has an `so` extension, move it so that it has a `dylib` extension

[2022-06-21 23:02] yaxxie commented on #122
The other obvious thing to try is

[code]

before trying to run the julia process to test LGBM.

[2022-06-22 07:51] yaxxie commented on #122
One last thing, try to run some LGBM code in the python. I didn't think about this until now but the library loading may be deferred

[2022-07-25 14:05] FatemehTahavori commented on #122
I have the same issue after changing the laptop, @ChristianMichelsen did you find any solution for this issue?

[2022-07-25 14:38] mattarnoldbio commented on #122
I am having the same problem on Pop!_OS (basically the same as Ubuntu). OpenMP appears to be working fine (I have tested with a `gcc -fopenmp` MWE). Additionally, the `lib_lightgbm.so` file is compiled in my cloned `LightGBM` repo (saved to `/usr/local`) and symlinked to my `/usr/local/lib` directory).  The output of `sudo ldconfig -v` shows a line for `lib_lightgbm.so` at the expected location. E

[2022-07-25 17:42] yaxxie commented on #122
@mattarnoldbio can you try with `LD_LIBRARY_PATH`

[2022-07-25 17:42] yaxxie commented on #122
@FatemehTahavori did you switch to a mac m1?

[2022-07-25 18:26] FatemehTahavori commented on #122
I think the issue is with libpath = Libdl.find_library(library_name, custom_paths), I tested with library_name and custom_paths and still was empty. Yes I should use M1 for now but I had the same issue in colab:
https://colab.research.google.com/drive/199DpOU113G7YcYfXQlXhsLs3Bs91Rqbr?usp=sharing.

[2022-08-10 14:40] FatemehTahavori commented on #122
I managed to sort out this issue (I am M1 mac user). I am not sure what actually fixed the issue. I would like one of you try out these steps:
- cd ~
- rm -rf .julia
- delete any project and Manifest toml in this location
- (@v1.7) pkg> add LightGBM#Fix_lgbm_libNotFound
If the above didn't solve your issue:
- first follow this instructions: build-threadless-version-not-recommended
 https://lightgb

[2022-08-15 15:03] albertc100 commented on #122
Hi, I also have the same issue and tried the steps @fatemehTahavori recommended. However, it does not. I think the error might occur when LightGBM is installed without libomp, because that is what I did.

[2022-08-15 16:26] yaxxie commented on #122
Hi @albertc100

Sorry I didn't understand, did you mean to say it does not work or the issue does not occur any longer after trying the steps?

I believe I understand the root cause, would you be willing to try some alternative steps?

[2022-08-16 15:05] albertc100 commented on #122
Hello @yaxxie, Sorry for the typo, I was trying to say the problem did not go away. If there are some alternative steps, then I would be willing to take them.

[2022-08-16 18:56] yaxxie commented on #122
There are two options here if I understood the root cause correctly: Linking libraries across architectures cannot work (sounds obvious when written down). The entire chain needs to be for one architecture or another (Intel or ARM)

Julia 1.7 ships Intel only
Julia 1.8 RCs are shipping with experimental ARM builds

If you want to go Intel builds, or don't want to use 1.8 yet, you need to make sure

[2022-08-17 15:16] albertc100 commented on #122
Thanks! For some reason, I still get an error even though the file lib_lightgbm.dylib is in the `/opt/homebrew/lib` directory. Furthermore, when I run `echo $DYLD_LIBRARY_PATH` I get `/opt/homebrew/lib`, but the InitError is still thrown.

EDIT: I fixed it by setting the path to `/usr/local/homebrew/opt/lightgbm/lib`. This may have worked because this was the Intel installed by the Rosetta homebre

[2022-08-17 15:41] yaxxie commented on #122
Thanks for taking the time to try this out. Could you just confirm then that you were using rosetta julia and did the brew install with `arch -x86_64`?

[2022-08-17 15:45] albertc100 commented on #122
Yes, the brew did install. I checked the both directories and found Homebrew.